@model  IEnumerable<Model.DAO.Feature>

<ul class="nav navbar-nav">
    @foreach (var item in Model)
    {
        <li>
            @if (item.OperationalsTemplate.IsController == 1)
            {
                @Html.ActionLink(item.name, "Index", item.OperationalsTemplate.Template);
            }
            else
            {
                <a href="#">@item.name</a>    
            }
        </li>
    }
</ul>


@*<ul class="nav navbar-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pacientes <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Cadastrar", "Create", "Patients")</li>

                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>

            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Médico <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Cadastrar", "Create", "Doctors")</li>

                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">One more separated link</a></li>

            </ul>
        </li>
    </ul>*@